extends layout.pug 

block content
	#upload
		include upload.pug
	#entries
			each entry in entries
				.entry
					h4
						- var url = "/entry/" + entry.id;
						a(href=url) #{entry.name}
						- var date = new Date(entry.date)
					if entry.Photos.length
						img(src=entry.Photos[0].path)
					p #{entry.description}
					span.date= `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`
				
