extends layout.pug 

block content
	#entries
			each entry in entries
				.entry
					h4
						- var url = "/entry/" + entry.id;
						a(href=url) #{entry.name}
					span #{new Date(entry.date).toDateString()}
					p #{entry.description}
					if entry.Photos.length
						img(src=entry.Photos[0].path)
	#upload
		include upload.pug
				
