extends ../layout.pug   

block content
    .content
        form(action="/entry/save" method="post" enctype="multipart/form-data")
            input(type="hidden" id="id" name="id" value=entry.id)
            .form-group
                label(for="name") Name
                input(type="text" id="name" name="name" 
                          placeholder="name" required="required"
                            value=entry.name)
            .form-group
                label(for="date") Date
                - var date = entry.date.toISOString().split("T")[0];
                input(type="date" id="date" name="date" value=date)
            .form-group
                label(for="link") Link
                input(type="text" id="link" name="link" placeholder="link" value=entry.link)
            .form-group
                label(for="description") Description
                textarea(id="description" name="description" 
                               placeholder="description") #{entry.description}
            .form-group
                label(for="photo") Photo
                input(type="file" multiple="multiple" id="photo" name="photo")

            .form-group
                label(for="tags") Tags
                select(name="tags" id="tags" multiple placeholder='select some tags')
                    each tag in tags
                        option(value=tag.id) #{tag.name}
            .form-group
                button(type="submit") Upload!

        .entry-photos
        if entry.Photos.length
            each photo in entry.Photos
                - var data = "data:" + photo.mimetype + ";base64," + photo.bytes;
                img.entry-img(src=data)
