extends ../layout.pug

block content
    .content
        .entry
            .entry-description
                h4 #{entry.name}
                p #{entry.description}
                    - var date = new Date(entry.date)
                p.date= `${date.getMonth() + 1}/${date.getFullYear()}`
                p.tags
                    each tag in entry.Tags
                        span #{tag.name}
            .entry-photos
                if entry.Photos.length
                    each photo in entry.Photos
                        img.entry-img(src="../" + photo.path)
                        p #{photo.filename}



