extends ../layout.pug

block title
    title WWMAIRS - #{entry.name}

block content
    .content
        .entry
            .entry-description
                .row
                    span #{entry.name}
                    - var date = new Date(entry.date)
                    span.date= `${date.getMonth() + 1}/${date.getFullYear()}`
                p #{entry.description}
                entry-tags(tags=entry.Tags)
            .entry-photos
                if entry.Photos.length
                    each photo in entry.Photos
                        img.round-border.entry-img(src="../" + photo.path)
                        p #{photo.filename}



