extends ../layout.pug

block content
    .content
        .entry
            .entry-description
                h4 #{entry.name}
                p #{entry.description}
                    - var date = new Date(entry.date)
                    span.date= `${date.getMonth() + 1}/${date.getFullYear()}`
            .entry-photos
                if entry.Photos.length
                    each photo in entry.Photos
                        - var data = "data:" + photo.mimetype + ";base64," + photo.bytes;
                        img.entry-img(src=data)
                        p #{photo.filename}



