extends ../layout.pug

block content
	.entry
		.entry-description
			h4 #{entry.name}
			p #{entry.description}
				- var date = new Date(entry.date)
				span.date= `${date.getMonth() + 1}/${date.getFullYear()}`
		.entry-photos
			each photo in entry.photos
				- var data = "data:" + photo.mimetype + ";" + photo.encoding + photo.bytes;
				img(src=data style="max-width: 90vw")
                p #{photo.filename}
                p hi



